
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

    
      

  *{
    margin: 0;
    padding: 0;
    font-family: 'popins',cursive;
  }
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.5)
    ,rgba(0,0,0,0.5)),url('../../Downloads/firewall.jpeg');
    color: aliceblue;
    background-size: cover;

}

.Counter{
  display: flex;
    gap: 5px;    
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 0px;
}

.p{
    font-size: 12px;
}
.Happy{
  font-family: 'Inspiration', cursive;
        font-size: 100px;
        font-weight: 400;
        font-style: 'Inspriation';
        margin-top: 30px;
}
.newyear{   
        font-family: 'Inspiration', cursive;
        font-size: 100px;
        font-weight: 400;
        font-style: 'Inspriation';
        margin-top: 30px;
        
      }
      
.box{
  width: 50px;
  height: 50px;
  text-align:center;

}

.box h2{
  font-size: 20px;

}
.box small{
  font-size: 10px;

}
.KeshavaRaj{   
  font-family: 'Inspiration', cursive;
  font-size: 50px;
  font-weight: 400;
  font-style: 'Inspriation';
  margin-top: 10px;

}
@media (min-width:576px) {
.h1{
    font-size: 100px;
  }
.newyear{
    font-size: 100px;
  }
.p{
    font-size: 18px;
  }
.box h2{
    font-size: 30px;

  }
.box{
    width: 100px;
    height: 70px;
  }
.box small{
    font-size: 15px;
  }
.KeshavaRaj{
  font-size: 100px;
}  
}
@media (min-width:768px) {
.h1{
    font-size: 100px;
  }
.newyear{
    font-size: 150px;
  }
}

.p{
    font-size: 25px;
  }
   .box h2{
    font-size: 30px;
    
  }
  .box{
    width: 150px;
    height: 150px;
  }
  .box small{
    font-size: 20px;
  
}
.KeshavaRaj{
  font-size: 100px;
}  